.main-div {
  display: flex;
  max-width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}
.box {
  width: 28%;
  margin: 10px;
  padding: 20px;
  box-shadow: 2px 2px 10px lightgray;
  cursor: pointer;
}
.search-products {
  width: 350px;
  height: 35px;
}
